body{
  font-family:arial;
  font-weight:lighter;
}
h2{
  font-size:18px;
}

h3{
  font-size:14px;
}

p{
  font-size:12px;
}
span{
  color:green;
}

em{
  color:red;
}

.exersize{
  padding-top:10px;
}